{% load fls_base_filters %}
{% with answer=existing_answers|get_dict_item:question.id %}
<c-text-input type="{{ input_type }}"
              inputmode="{{ input_mode }}"
              id="question_{{ question.id }}"
              name="question_{{ question.id }}"
              :label="question.rendered_question"
              value="{% if rejected %}{{ rejected.text }}{% else %}{{ answer.text_answer }}{% endif %}"
              :required="question.required"
              :disabled="read_only"
              :invalid="rejected"
              :min="question.min" :max="question.max" :step="question.number_step"
              error_id="question_{{ question.id }}_error" />
{% endwith %}
