{% extends "student_interface/_course_base.html" %}



{% block content %}

<h1>{{ topic.title }}</h1>
{% if topic.subtitle %}
<h2>{{ topic.subtitle }}</h2>
{% endif %}
<hr/>

<div class="space-y-4 py-4">
    {{ topic.rendered_content }}
</div>

<div class="flex items-center justify-between mt-8 pt-4 border-t border-gray-200 gap-3">
    <div>
        {% if previous_url %}
            <a href="{{ previous_url }}" class="btn btn-outline">
                <i class="fa fa-arrow-left"></i> Previous
            </a>
        {% endif %}
    </div>

        {% if not is_complete %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="mark_complete" class="btn btn-primary">
                    {% if is_last_item %}
                        <i class="fa fa-check"></i> Finish Course
                    {% else %}
                        <i class="fa fa-check"></i> Mark Complete & Continue
                    {% endif %}
                </button>
            </form>
        {% elif next_url %}
            <a href="{{ next_url }}" class="btn btn-primary">
                Next <i class="fa fa-arrow-right"></i>
            </a>
        {% elif is_last_item %}
            {% if is_course_complete %}
                <a href="{% url 'student_interface:course_home' collection_slug=course.slug %}" class="btn btn-outline">
                    <i class="fa fa-home"></i> Home
                </a>
            {% else %}
                <a href="{% url 'student_interface:course_home' collection_slug=course.slug %}" class="btn btn-primary">
                    <i class="fa fa-check"></i> Finish Course
                </a>
            {% endif %}
        {% endif %}
</div>


{% endblock %}
