{% extends '_base.html' %}
    
{% block title %} {{ form.title }} {% endblock %}
    
{% block content %}

    {% if collection %}
    <div class="mb-4">
        <a href="{% url 'student_interface:course_home' collection.pk %}" class="btn btn-outline">
            <i class="fa fa-arrow-left"></i> Back to {{ collection.title }}
        </a>
    </div>
    {% endif %}

    <h1>{{ form.title }}</h1>
    {% if form.subtitle %}
        <h2>{{ form.subtitle }}</h2>
    {% endif %}
    <div class="space-y-4 py-4">
        {{ form.rendered_content }}
    </div>

    {% if preview %}
            <p>
                <a href="{% url 'content_engine:form_page_detail' first_page.pk %}" class="btn btn-primary">Preview >></a>
            </p>
    {% else %}
        {% if form_progress %}
            <p>
                <a href="{% url 'student_interface:form_fill_page' form_progress.id page_number %}" class="btn btn-primary">Continue Form >></a>
            </p>
        {% else %}
            <p>
                <a href="{% url 'student_interface:form_start' form.pk %}" class="btn btn-primary">Start Form >></a>
            </p>
        {% endif %}
    {% endif %}


{% endblock content %}