{% extends '_base.html' %}

{% block title %}Picky Eating Assessment - {{ child.name }}{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto">
        <h1>{{ form.title }}</h1>

        {% if form.subtitle %}
           <h2>{{ form.subtitle }}</h2>
        {% endif %}
        <div class="border border-gray-300 rounded-md p-6 mb-6">
            <h2 class="mb-4">Child Information</h2>
            <p><strong>Name:</strong> {{ child.name }}</p>
            <p><strong>Age:</strong> {{ child.age }}</p>
        </div>


        <div class="space-y-4 py-4">
            {{ form.rendered_content }}
        </div>



        {% if complete_form_progress  %}

            {% with progress=complete_form_progress %}
                {% include "student_interface/course_form.html#completed_form_scores"%}
            {% endwith %}

        {% endif %}


        {% if incomplete_form_progress %}
                <a href="{% url 'bloom_student_interface:child_assessment_fill_page' child.slug  form.slug page_number %}" class="btn btn-primary">Continue Form >></a>
        {% elif  complete_form_progress %}

        <a href="{% url 'bloom_student_interface:child_assessment_start' child.slug  form.slug   %}" class="btn btn-primary">Reassess</a>

        {% else %}
                <a href="{% url 'bloom_student_interface:child_assessment_start' child.slug  form.slug   %}" class="btn btn-primary">Start Form >></a>
        {% endif %}

        <a href="{% url 'bloom_student_interface:home' %}" class="btn btn-outline">Back to Home</a>
    </div>
{% endblock %}
