{% extends 'bloom_student_interface/_assessment_base.html' %}

{% block title %}Assessment Complete - {{ child.name }}{% endblock %}

{% block content %}
    <div class="space-y-8">

            <h2 class="text-center text-4xl" >Well done for completing the assessment!</h2>

            <p>Now that we know a bit about {{child.name}}, we can make some recommendations.</p>

            <h3>What's next?</h3>
            
            <p>We have a few activities recommended for your child. You'll be able to choose which ones you'd like to do, and track your progress through this app.</p>

            <p>We'll also recommend some courses for you. These can be accessed through the "My Learning" page</p>

                <h3>IMPORTANT!!</h3>
                <p>

                    The most important thing is your child's growth! So if you don't have time for courses and activities, please prioritise activities! 
                </p>
                <p>

                    The activities in this application are lovingly hand-crafted by our team of expert therapists. Try them out!
                </p>

            <div class="mx-auto w-fit">

                <c-button href="{%url 'bloom_student_interface:child_activities_configure' child.slug %}">
                    View Recommended Activities
                </c-button>
            </div>


        {% if form_progress and scores %}

            <!-- {% with progress=form_progress %}
                include "student_interface/course_form.html#completed_form_scores"
            {% endwith %} -->

            <!-- <div class="border border-gray-300 rounded-md p-6 mb-6">
                <h2 class="mb-4">Results</h2>
                <p class="text-gray-600">Scores and detailed results will be displayed here. (Placeholder - to be implemented)</p>

                <div class="mt-4">
                    <h3>Score Data:</h3>
                    <pre class="bg-gray-100 p-4 rounded text-sm">{{ scores }}</pre>
                </div>
            </div> -->
        {% else %}
            <div class="surface">
                <p class="text-gray-600">No results found for this assessment.</p>
            </div>
        {% endif %}

        
    </div>
{% endblock %}
