{% extends 'bloom_student_interface/_assessment_base.html' %}


{% block content %}

    <c-markdown-container>
        {{ form.rendered_content }}
    </c-markdown-container>


    <!-- {% if complete_form_progress  %}

        {% with progress=complete_form_progress %}
           include "student_interface/course_form.html#completed_form_scores"
        {% endwith %}

    {% endif %} -->

    <c-button-group variant="space-between">

     <c-button href="{% url 'bloom_student_interface:children' %}" variant="secondary">
           << Back to Children
    </c-button>

    {% if incomplete_form_progress %}
        <c-button 
            href="{% url 'bloom_student_interface:child_assessment_fill_page' child.slug  form.slug page_number %}">
            Continue Form >>
        </c-button>
    {% elif  complete_form_progress %}

        <c-button 
            href="{% url 'bloom_student_interface:child_assessment_start' child.slug  form.slug %}" >
                Reassess
        </c-button>

    {% else %}
        
       
        <c-button
            href="{% url 'bloom_student_interface:child_assessment_start' child.slug form.slug %}">
            Start Assessment >>
        </c-button>
    {% endif %}

    </c-button-group>


{% endblock %}
