{% extends "bloom_student_interface/_base_logged_in.html" %}



{% partialdef content %}

<div id="main_content" class="space-y-4">
    {% include "student_interface/partials/course_list.html#current-courses" %}
    {% include "student_interface/partials/course_list.html#recommended-courses" %}
    {% include "student_interface/partials/course_list.html#learning-history" %}
</div>






{% endpartialdef %}




{% block title %}
My Learning
{% endblock %}


{% block content %}
{% partial content %}
{% endblock content %}