{% extends "educator_interface/_educator_interface_base.html" %}

{% block head_title %}
    Educator Interface
{% endblock head_title %}

{% block content %}
    <h2>
        Cohorts
    </h2>
    <table>
        <thead>
            <tr>
                <th>Cohort Name</th>
                <th>Active Students</th>
                <th>Registered Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for cohort in cohorts %}
                <tr>
                    <td>{{ cohort.name }}</td>
                    <td>{{ cohort.student_count }}</td>
                    <td>
                        {% for registration in cohort.course_registrations.all %}
                            {{ registration.collection.title }} ({{ registration.registered_at|date:"Y-m-d" }}){% if not forloop.last %}, {% endif %}
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
