{% extends "educator_interface/_educator_interface_base.html" %}

{% load cotton %}

{% block head_title %}
    Educator Interface
{% endblock head_title %}

{% block title %}
    Students
{% endblock title %}

{% block content %}

    TODO: fetch and draw the table on page load
    {% partialdef students-table-partial inline=True %}
        <c-data-table :columns=columns :rows=rows :page_obj=page_obj :sort_by=sort_by :sort_order=sort_order empty_message="No students found" />
    {% endpartialdef %}

{% endblock content %}
