<header class="bg-blue-600 p-4 shadow-md flex justify-between items-center">
    <a href="/">
        <h1 class="text-2xl font-bold text-white">{{site_title}}</h1>
    </a>
    <nav class="space-x-1 flex flex-row">

        {% if user.is_authenticated %}
            <div x-data="{ open: false }" class="relative">
                <button @click="open = !open" class="text-white hover:text-blue-200 flex items-center space-x-2">
                    <span>{{ user.email }}</span>
                    <i class="fas fa-chevron-down text-sm"></i>
                </button>
                <div x-show="open" @click.away="open = false" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50">
                    <a href="{% url 'account_profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                    {% if user.is_staff %}
                        <a href="/admin/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Admin Panel</a>
                    {% endif %}
                    {% include "partials/logout_button.html" %}

                </div>
            </div>            
        {% endif %}
    </nav>
</header>