{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Check Your Email" %}
{% endblock head_title %}

{% block content %}
    {% element h1 %}
        {% trans "Check your email" %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}If we could set up or find your account, we've emailed you a link to continue. Check your inbox (and your spam folder).{% endblocktrans %}
    {% endelement %}
    {% element p %}
        {% trans "Didn't get anything? You can" %}
        <a href="{% url 'account_reset_password' %}" class="text-primary underline">{% trans "request another link" %}</a>.
    {% endelement %}
{% endblock content %}
