<c-dropdown-menu trigger_class="{{ trigger_class|default:'text-on-primary p-2 cursor-pointer' }}">
    <c-slot name="trigger">
        <span class="hidden sm:inline">{{ user.display_name }}</span>
        <span class="sm:hidden">
            <c-icon name="user" class="size-5" />
        </span>
        <c-icon name="dropdown" class="size-4 ml-1" />
    </c-slot>

    <c-button dropdown="true" href="{% url 'account_profile' %}">
        Profile
    </c-button>
    {% if user.is_staff %}
        <c-button dropdown="true" href="{% url 'educator_interface:interface' '' %}">
            Educator Interface
        </c-button>
        <c-button dropdown="true" href="/admin/" hx-boost="false">
            Admin Panel
        </c-button>
    {% endif %}

    {% with dropdown=True %}
        {% include "partials/logout_button.html" %}

    {% endwith %}
</c-dropdown-menu>
