<c-dropdown-menu trigger_class="{{ trigger_class|default:'text-on-primary p-2 cursor-pointer' }}">
    <c-slot name="trigger">
        <span class="hidden sm:inline">{{ user.display_name }}</span>
        <span class="sm:hidden"><i class="fas fa-user"></i></span>
        <i class="fas fa-chevron-down text-sm ml-1"></i>
    </c-slot>

    <c-button dropdown="true" href="{% url 'account_profile' %}">
        Profile
    </c-button>
    {% if user.is_staff %}
        <c-button dropdown="true" href="{% url 'educator_interface:home' %}">
            Educator Interface
        </c-button>
        <c-button dropdown="true" href="/admin/" hx-boost="false">
            Admin Panel
        </c-button>
    {% endif %}

    {% with dropdown=True %}
        {% include "partials/logout_button.html" %}

    {% endwith %}
</c-dropdown-menu>
