{% extends "panel_framework/views/_main_base.html" %}

{% block page_header %}
    <c-panel-page-header title="{{ main.action.label }}" />
{% endblock page_header %}

{% block main %}
    {% include "panel_framework/partials/bulk_confirmation_message.html" with error=main.error count=main.count noun=main.noun only %}
    {% include "panel_framework/partials/bulk_confirmation_form.html" with error=main.error action_url=main.action_url selection=main.selection action=main.action %}
    {% querystring request.GET as qs %}
    <a href="{{ main.page_url }}{{ qs }}">Cancel</a>
{% endblock main %}
