{% extends '_base.html' %}

{% block title %}{{ form.title }} - Page {{ current_page_num }}{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto">
        <h1 class="mb-6">{{ form.title }}</h1>
        <h2>Page {{current_page_num}}: {{form_page.title}}</h2>

    {% if form_page.subtitle %}

        {{form_page.subtitle}}
    {% endif %}

        <div class="border border-gray-300 rounded-md p-6 mb-4">
            <p><strong>Child:</strong> {{ child.name }} (Age {{ child.age }})</p>
        </div>

       
        {% include "student_interface/course_form_page.html#page_progress_indicator" %}
        {% include "student_interface/course_form_page.html#form_and_navigation" %}

        
    </div>
{% endblock %}
