{% extends "_base_interface.html" %}
{% load static %}

{% comment %}
This is only used in the tests.
{% endcomment %}


{% block extra_alpine_components %}
<script defer src="{% static 'panel_framework/js/alpine-components.js' %}"></script>
{% endblock %}

{% block sidebar_storage_key %}sidebar-test{% endblock sidebar_storage_key %}

{% block header_bar_text %}Test Interface{% endblock header_bar_text %}
{% block sidebar_heading %}Navigation{% endblock sidebar_heading %}

{% block sidebar_content %}
    {% include "panel_framework/partials/sidebar_nav.html" %}
{% endblock sidebar_content %}

{% block breadcrumbs %}
    {% include "panel_framework/partials/breadcrumbs.html" %}
{% endblock breadcrumbs %}

{% block content %}
    <div id="main-content" class="space-y-4 pl-2 sm:pl-6">
        {% if heading %}
            <h1>{{ heading }}</h1>
        {% endif %}
        {{ content|safe }}
    </div>
{% endblock content %}
