{% extends "_base.html" %}

{% block body %}

    <c-sidebar storage_key="sidebar-course-toc" class="gap-6 py-12">
        <div hx-get="{% url 'student_interface:partial_course_toc' course.slug %}"
             hx-trigger="load"
             hx-indicator="#course-loading">
            <c-loading-indicator id="course-loading" message="Loading courses..." />
        </div>

        <c-slot name="content">
            {% block content %}
            {% endblock content %}
        </c-slot>
    </c-sidebar>

{% endblock body %}
