{% extends "_base_interface.html" %}
{% load static %}

{% block extra_alpine_components %}
    <script defer src="{% static 'student_interface/js/alpine-components.js' %}"></script>
{% endblock extra_alpine_components %}

{% block sidebar_storage_key %}sidebar-course-toc{% endblock sidebar_storage_key %}

{% block header_bar_text %}{{ course.title }}{% endblock header_bar_text %}
{% block sidebar_heading %}Table of Contents{% endblock sidebar_heading %}

{% block sidebar_content %}
    <div hx-get="{% url 'student_interface:partial_course_toc' course.slug %}"
         hx-trigger="load"
         hx-indicator="#course-loading">
        <c-loading-indicator id="course-loading" message="Loading courses..." />
    </div>
{% endblock sidebar_content %}
