{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        {% if  user.is_authenticated %}

            {% block user_authenticated %}

            <h1 class="mb-4">Welcome back, {{ user.first_name|default:user.email }}</h1>
        
            {% endblock user_authenticated %}



        {% else %}
            <h1 class="mb-4">Welcome</h1>
            
         {% include "partials/login_prompt.html" %}
            
            
        {% endif %}
    </div>


    {% block all_courses %}
    <div class="relative">
        <div hx-get="{% url 'student_interface:partial_list_courses' %}"
        hx-trigger="load"
        hx-indicator="#course-loading">
    </div>
    <c-loading-indicator id="course-loading" message="Loading courses..." />
    </div>
    {% endblock all_courses %}

{% endblock %}
