{% extends "admin/base_site.html" %}
{% load unfold %}

{% block content %}
    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            Select an event type and click "Preview &amp; Send" to send a test webhook to
            <strong>{{ endpoint.url }}</strong>.
        {% endcomponent %}

        <form method="post" action="{{ result_url }}" class="flex flex-col gap-3 mt-6">
            {% csrf_token %}

            <div class="flex flex-col gap-2">
                {% include "unfold/helpers/form_label.html" with field=form.event_type %}
                {{ form.event_type }}
            </div>

            <div class="mt-3">
                {% component "unfold/components/button.html" with submit=1 name="send_test" %}
                    Preview &amp; Send
                {% endcomponent %}
            </div>
        </form>
    {% endcomponent %}
{% endblock %}
